In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [4]:
dic_Gender={'Male':1,'Female':2}
df['Gender']=df['Gender'].map(dic_Gender)
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       2   26            43000          0
3    15603246       2   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       2   46            41000          1
396  15706071       1   51            23000          1
397  15654296       2   50            20000          1
398  15755018       1   36            33000          0
399  15594041       2   49            36000          1

[400 rows x 5 columns]

In [5]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [18]:
x=df.drop(['User ID','Purchased'],axis=1)
y=df['Purchased']

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=45,test_size=0.2)

In [20]:
y_train.value_counts()

0    209
1    111
Name: Purchased, dtype: int64

In [21]:
from imblearn.over_sampling import SMOTE
smoter=SMOTE()
x_train,y_train=smoter.fit_resample(x_train,y_train)

In [22]:
y_train.value_counts()

0    209
1    209
Name: Purchased, dtype: int64

In [23]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix,accuracy_score,recall_score,precision_score,f1_score,fbeta_score,classification_report

In [25]:
models={
    'LR':LogisticRegression(),
    'KNN':KNeighborsClassifier(),
    'DT':DecisionTreeClassifier(),
    'RF':RandomForestClassifier(),
    'SVC':SVC(),
    'XG':GaussianNB(),
    'G':GaussianNB()
    
    
}

In [26]:
for name,model in models.items():
    print(f'using:{name}')
    model.fit(x_train,y_train)
    y_predict=model.predict(x_test)
    print(f'train accurancy:{accuracy_score(y_train,model.predict(x_train))}')
    print(f'test accurancy:{accuracy_score(y_test,y_predict)}')
    print(f'test con:{confusion_matrix(y_test,y_predict)}')
    print(f'recall:{recall_score(y_test,y_predict)}')
    print(f' pre:{precision_score(y_test,y_predict)}')
    print(f'f1:{f1_score(y_test,y_predict)}')
    print(f' fbeta :{fbeta_score(y_test,y_predict,beta=.5)}')
    print(f' report :{classification_report(y_test,y_predict)}')

    print('-'*33,'\n')

using:LR
train accurancy:0.854066985645933
test accurancy:0.9
test con:[[43  5]
 [ 3 29]]
recall:0.90625
 pre:0.8529411764705882
f1:0.8787878787878787
 fbeta :0.8630952380952381
 report :              precision    recall  f1-score   support

           0       0.93      0.90      0.91        48
           1       0.85      0.91      0.88        32

    accuracy                           0.90        80
   macro avg       0.89      0.90      0.90        80
weighted avg       0.90      0.90      0.90        80

---------------------------------

using:KNN
train accurancy:0.9282296650717703
test accurancy:0.9125
test con:[[44  4]
 [ 3 29]]
recall:0.90625
 pre:0.8787878787878788
f1:0.8923076923076922
 fbeta :0.8841463414634145
 report :              precision    recall  f1-score   support

           0       0.94      0.92      0.93        48
           1       0.88      0.91      0.89        32

    accuracy                           0.91        80
   macro avg       0.91      0.91      0.91        80
weighted avg       0.91      0.91      0.91        80

---------------------------------

using:DT
train accurancy:0.9976076555023924
test accurancy:0.8
test con:[[41  7]
 [ 9 23]]
recall:0.71875
 pre:0.7666666666666667
f1:0.7419354838709677
 fbeta :0.7565789473684211
 report :              precision    recall  f1-score   support

           0       0.82      0.85      0.84        48
           1       0.77      0.72      0.74        32

    accuracy                           0.80        80
   macro avg       0.79      0.79      0.79        80
weighted avg       0.80      0.80      0.80        80

---------------------------------

using:RF
train accurancy:0.9976076555023924
test accurancy:0.8875
test con:[[41  7]
 [ 2 30]]
recall:0.9375
 pre:0.8108108108108109
f1:0.8695652173913043
 fbeta :0.8333333333333335
 report :              precision    recall  f1-score   support

           0       0.95      0.85      0.90        48
           1       0.81      0.94      0.87        32

    accuracy                           0.89        80
   macro avg       0.88      0.90      0.89        80
weighted avg       0.90      0.89      0.89        80

---------------------------------

using:SVC
train accurancy:0.9186602870813397
test accurancy:0.9
test con:[[43  5]
 [ 3 29]]
recall:0.90625
 pre:0.8529411764705882
f1:0.8787878787878787
 fbeta :0.8630952380952381
 report :              precision    recall  f1-score   support

           0       0.93      0.90      0.91        48
           1       0.85      0.91      0.88        32

    accuracy                           0.90        80
   macro avg       0.89      0.90      0.90        80
weighted avg       0.90      0.90      0.90        80

---------------------------------

using:XG
train accurancy:0.9090909090909091
test accurancy:0.925
test con:[[44  4]
 [ 2 30]]
recall:0.9375
 pre:0.8823529411764706
f1:0.9090909090909091
 fbeta :0.8928571428571429
 report :              precision    recall  f1-score   support

           0       0.96      0.92      0.94        48
           1       0.88      0.94      0.91        32

    accuracy                           0.93        80
   macro avg       0.92      0.93      0.92        80
weighted avg       0.93      0.93      0.93        80

---------------------------------

using:G
train accurancy:0.9090909090909091
test accurancy:0.925
test con:[[44  4]
 [ 2 30]]
recall:0.9375
 pre:0.8823529411764706
f1:0.9090909090909091
 fbeta :0.8928571428571429
 report :              precision    recall  f1-score   support

           0       0.96      0.92      0.94        48
           1       0.88      0.94      0.91        32

    accuracy                           0.93        80
   macro avg       0.92      0.93      0.92        80
weighted avg       0.93      0.93      0.93        80

---------------------------------

## KNN