In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
df=df.drop(['Ticket','Cabin'],axis=1)

In [4]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

In [5]:
df=pd.get_dummies(df,columns=['Sex','Embarked'],drop_first=True)
df

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",22.000000,1,0,7.2500,1,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.000000,1,0,71.2833,0,0,0
2,3,1,3,"Heikkinen, Miss. Laina",26.000000,0,0,7.9250,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.000000,1,0,53.1000,0,0,1
4,5,0,3,"Allen, Mr. William Henry",35.000000,0,0,8.0500,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",27.000000,0,0,13.0000,1,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",19.000000,0,0,30.0000,0,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",29.699118,1,2,23.4500,0,0,1
889,890,1,1,"Behr, Mr. Karl Howell",26.000000,0,0,30.0000,1,0,0
890,891,0,3,"Dooley, Mr. Patrick",32.000000,0,0,7.7500,1,1,0

In [7]:
x=df.drop(['PassengerId','Name'],axis=1)
y=df['Survived']

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=45,test_size=0.2)

In [9]:
y_train.value_counts()

0    432
1    280
Name: Survived, dtype: int64

In [10]:
from imblearn.over_sampling import SMOTE
smoter=SMOTE()
x_train,y_train=smoter.fit_resample(x_train,y_train)

In [11]:
y_train.value_counts()

0    432
1    432
Name: Survived, dtype: int64

In [12]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix,accuracy_score,recall_score,precision_score,f1_score,fbeta_score,classification_report

In [17]:
models={
    'LR':LogisticRegression(),
    'KNN':KNeighborsClassifier(),
    'DT':DecisionTreeClassifier(),
    'RF':RandomForestClassifier(),
    'SVC':SVC(),
    'XG':GaussianNB(),
    'G':MultinomialNB()
    
    
}

In [18]:
for name,model in models.items():
    print(f'using:{name}')
    model.fit(x_train,y_train)
    y_predict=model.predict(x_test)
    print(f'train accurancy:{accuracy_score(y_train,model.predict(x_train))}')
    print(f'test accurancy:{accuracy_score(y_test,y_predict)}')
    print(f'test con:{confusion_matrix(y_test,y_predict)}')
    print(f'recall:{recall_score(y_test,y_predict)}')
    print(f' pre:{precision_score(y_test,y_predict)}')
    print(f'f1:{f1_score(y_test,y_predict)}')
    print(f' fbeta :{fbeta_score(y_test,y_predict,beta=.5)}')
    print(f' report :{classification_report(y_test,y_predict)}')

    print('-'*33,'\n')

using:LR
train accurancy:1.0
test accurancy:1.0
test con:[[117   0]
 [  0  62]]
recall:1.0
 pre:1.0
f1:1.0
 fbeta :1.0
 report :              precision    recall  f1-score   support

           0       1.00      1.00      1.00       117
           1       1.00      1.00      1.00        62

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179

---------------------------------

using:KNN
train accurancy:0.9942129629629629
test accurancy:0.994413407821229
test con:[[116   1]
 [  0  62]]
recall:1.0
 pre:0.9841269841269841
f1:0.9919999999999999
 fbeta :0.9872611464968152
 report :              precision    recall  f1-score   support

           0       1.00      0.99      1.00       117
           1       0.98      1.00      0.99        62

    accuracy                           0.99       179
   macro avg       0.99      1.00      0.99       179
weighted avg       0.99      0.99      0.99       179

---------------------------------

using:DT
train accurancy:1.0
test accurancy:1.0
test con:[[117   0]
 [  0  62]]
recall:1.0
 pre:1.0
f1:1.0
 fbeta :1.0
 report :              precision    recall  f1-score   support

           0       1.00      1.00      1.00       117
           1       1.00      1.00      1.00        62

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179

---------------------------------

using:RF
train accurancy:1.0
test accurancy:1.0
test con:[[117   0]
 [  0  62]]
recall:1.0
 pre:1.0
f1:1.0
 fbeta :1.0
 report :              precision    recall  f1-score   support

           0       1.00      1.00      1.00       117
           1       1.00      1.00      1.00        62

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179

---------------------------------

using:SVC
train accurancy:1.0
test accurancy:1.0
test con:[[117   0]
 [  0  62]]
recall:1.0
 pre:1.0
f1:1.0
 fbeta :1.0
 report :              precision    recall  f1-score   support

           0       1.00      1.00      1.00       117
           1       1.00      1.00      1.00        62

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179

---------------------------------

using:XG
train accurancy:1.0
test accurancy:1.0
test con:[[117   0]
 [  0  62]]
recall:1.0
 pre:1.0
f1:1.0
 fbeta :1.0
 report :              precision    recall  f1-score   support

           0       1.00      1.00      1.00       117
           1       1.00      1.00      1.00        62

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179

---------------------------------

using:G

ValueError: Negative values in data passed to MultinomialNB (input X)

## KNN